@charset "UTF-8";

$color-background: #f5f6f6;
$color-text: #333333;
$color-text-metadata: #666666;

body {
  background-color: $color-background;
  color: $color-text;
}

.main ul > li {
  list-style-type: disc;
}

.sidebar {
  h2 {
    margin: 16px 0 0 0;
    border-bottom: none;
  }
}

.side-box {
  font-size: .9em;
  display: flex;
  position: relative;

  img {
    width: 80px;
    height: 80px;
    margin: 10px;
    background-color: $color-background;
  }

  p {
    margin: 10px 0;
  }
}

.author {
  min-height: 185px;

  .link-icons {
    top: 95px;
    width: 80px;
    margin: 0 10px 10px 10px;
    display: flex;
    position: absolute;
    flex-wrap: wrap;

    .link-icon {
      width: 36px;
      height: 36px;
      margin: auto;
      margin-bottom: 4px;

      a {
        width: 100%;
        height: 100%;
        font-size: 42px;
        text-decoration: none;
      }
    }
  }
}

.fa-square-facebook {
  color: #1877f2;
}
.fa-square-github {
  color: #0e0c0d;
}
.fa-square-instagram {
  color: #cf2e92;
}
.fa-square-twitter {
  color: #1da1f2;
}
.fa-square-youtube {
  color: #da1725;
}

.recent {
  .side-box {
    height: 100px;
    margin: 0 0 5px;
    border: 1px solid;
    border-color: $color-text-metadata;

    p {
      width: 100%;
      height: 40px;
      line-height: 1.3;
      padding-left: 100px;
      padding-right: 10px;
      overflow: hidden;
    }

    .article-metadata {
      top: 50px;
      margin: 0;
      position: absolute;
      color: $color-text-metadata;
    }

    a {
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      position: absolute;
      text-decoration: none;
    }
  }
}

.tag-cloud {
  line-height: 2em;
  display: flex;

  ul {
    padding: 0;
    list-style: none;
  }

  ul > li {
    display: inline-block;

    a {
      padding: .2em;
      padding-right: 1.5em;
      color: $color-text-metadata;
      border: 1px solid;
      border-color: $color-text-metadata;
      position: relative;
      text-decoration: none;
    }
  }
}

span.count {
  position: absolute;
  top: 0.3em;
  right: 0.2em;
  width: 1.2em;
  height: 1.2em;
  line-height: 1.2em;
  background-color: #ff6633;
  border-radius: 100%;
  color: white;
  text-align: center;
}

.article-metadata {
  line-height: 2;
}

.article-metadata time {
  padding-right: .5em;
}

.article-metadata .tag-cloud a {
  padding: .2em;
}
