<!DOCTYPE html>
<html
  {{ with site.LanguageCode | default site.Language.Lang }}
    lang="{{ . }}"
  {{ end }}
>
  <head>
    <title>
      {{- if .IsHome }}
        {{ site.Title }}
      {{- else }}
        {{ .Title }} - {{ site.Title }}
      {{- end }}
    </title>
    {{ partial "head" . }}
  </head>
  <body>
    <header class="container is-max-widescreen">
      <navbar>
        {{ partial "navbar" . }}
      </navbar>
    </header>
    <section class="container">
      <div class="columns is-multiline">
        <main class="column is-full-tablet is-two-thirds-desktop">
          {{- block "main" . }}
          {{- end }}
        </main>
        <aside class="column sidebar">
          <div class="columns is-multiline">
            {{- partial "sidebar-primary" . -}}
            {{- block "sidebar-primary" . }}
            {{- end }}
            {{- partial "sidebar-secondary" . -}}
            {{- block "sidebar-secondary" . }}
            {{- end }}
          </div>
        </aside>
      </div>
    </section>
    <footer>
      {{ partial "footer" . }}
    </footer>
  </body>
</html>
