<!DOCTYPE html>
<html
  {{ with site.LanguageCode | default site.Language.Lang }}
    lang="{{ . }}"
  {{ end }}
>
  <head>
    <title>
      {{- if .IsHome }}
        {{ site.Title }}
      {{- else }}
        {{ .Title }} - {{ site.Title }}
      {{- end }}
    </title>
    {{ partial "head" . }}
  </head>
  <body>
    <header>
      {{ partial "header" . }}
    </header>
    <main>
      {{- block "main" . }}
      {{- end }}
    </main>
    <footer>
      {{ partial "footer" . }}
    </footer>
  </body>
</html>
