{{- define "main" }}
  <h2>{{ .Title }}</h2>

  {{- if .Params.categories }}
    <div>
      Categories:
      {{- range ($.GetTerms "categories") }}
        <a href="{{ .Permalink | relURL }}">{{ .LinkTitle }}</a>
      {{- end }}
    </div>
  {{- end }}

  {{- if not .Date.IsZero }}
    <time datetime="{{ .Date.Format "2006-01-02" }}" itemprop="datepublished">
      {{- .Date.Format (default "2006/01/02" site.Params.DateFormat) -}}
    </time>
  {{- end }}
  {{- if gt .Lastmod .Date }}
    <time datetime="{{ .Lastmod.Format "2006-01-02" }}" itemprop="modified">
      {{- .Lastmod.Format (default "2006/01/02" site.Params.DateFormat) -}}
    </time>
  {{- end }}

  {{- if .Params.tags }}
    <div>
      Tags:
      {{- range ($.GetTerms "tags") }}
        <a href="{{ .Permalink | relURL }}">{{ .LinkTitle }}</a>
      {{- end }}
    </div>
  {{- end }}

  {{ .Content }}
{{- end }}
